@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
